<div class="show-your-support">
  <div>
      <!--<h3>Developers</h3>-->
      <ul>
          <li><a rel="nofollow" href="https://github.com/cevap">CEVAP</a></li>
          <li><a rel="nofollow" href="https://github.com/aspaas/">ASPA</a></li>
          <li><a rel="nofollow" href="https://github.com/mitchellcash">MICA</a></li>
      </ul>
  </div>
  <div>
      <!--<h3>Companies</h3>-->
      <ul>

          <li>Ionomy LTD</li>
          <li><a rel="nofollow" href="https://ionomy.com/">Ionomy LTD</a></li>
          <li><a rel="nofollow" href="https://github.com/ionomy">Ionomy github</a></li>
      </ul>
  </div>
  <div>
      <!--<h3>Users</h3>-->
      <ul>
          <li><a rel="nofollow" href="https://github.com/Bige086">Bige086</a></li>
          <li><a rel="nofollow" href="https://github.com/broyhill">Broyhill</a></li>
          <li><a rel="nofollow" href="https://github.com/LordDarkHelmet">LordDarkHelmet</a></li>
          <li><a rel="nofollow" href="https://github.com/mrcoinzzz/">Mr. Coins</a></li>
      </ul>
  </div>
</div>
<!-- update includes https://github.com/cevap/ioncore.xyz/issues/50#issuecomment-187754542 -->
